@import "tailwindcss";

@font-face {
    font-family: 'IRANSans';
    src: url('/public/assets/fonts/IRANSansX.woff2') format('woff2');
}  

@font-face {
    font-family: 'IRANSans-light';
    src: url('/public/assets/fonts/IRANSansX-Light.woff2') format('woff2');
}  

body {
    font-family: 'IRANSans', sans-serif;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    max-width: 430px !important;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f3f3f39c;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

p{
    font-family: 'IRANSans-light', sans-serif;
}

span{
    font-family: 'IRANSans-light', sans-serif;
}

.bg-color {
    background-color: #05A86B;
}
.bg-line-color {
    background-color: #05a86c1a;
}
.bg-menu {
    background-color: #ECF8F4;
}

.bg-color-btn{
    background-color: #ECF8F4;
}

.bg-feature-1{
    background-color: #ECF8EE;
}

.bg-feature-2{
    background-color: #DCE8D6;
}

.bg-white-50{
    background-color: #ffffff71;
}

.text-color {
    color: #05A86B;
}
  
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #05A86B;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
}
  
@media (min-width: 640px) {
    .loader {
      width: 36px;
      height: 36px;
    }
}